{
    "OA_PATH": "http://localhost",
    "UPLOAD_PATH": "http://localhost",
    "OA_CLIENT_ID": "1",
    "OA_CLIENT_SECRET": "Z77PmFkOD9SMAIbVDZcKRxOD6f0YA0ck54amYEr1",
    "LARAVEL_ECHO_SERVER_HOST": "localhost:6001"
}
