
@import '../../utils/var.less';
.img {
  height: 43.5px;
  min-width: 1rem;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  border-bottom: 1px solid #eee;
  i {
    border-left: 1px solid #ddd;
    height: 18px;
  }
}

.filter_con{
  display: flex;
  >div{
    flex-grow: 1;
    width: 100px;
    text-align: center;
  }
  .dosort span,
  .filter span {
    height: 88/75rem;
    padding-right: 50/75rem;
    line-height: 88/75rem;
    .base(12px, rgb(0, 0, 0));
    &.active {
      color: rgb(24, 116, 208);
    }
  }
  .dosort span{
    background: url('/public/filter/sort.png') no-repeat right center;
    background-size: 30/75rem;
  }
  .filter span {
    background: url('/public/filter/unscreen.svg') no-repeat right center;
    background-size: 30/75rem;
    
  }
  .filter {
    &.active span{
      background: url('/public/filter/screen.png') no-repeat right center;
      background-size: 30/75rem;
    }
  }
}