@import '../../utils/var.less';
.child {
  padding: 0 24/75rem;
}

.header {
  flex: 0 !important;
  width: 100%;
}

.content {
  width: 100%;
  flex: 1 1 auto !important;
  overflow: auto;
}

.space {
  background: @base-bg-color;
}
