@import '../../utils/var.less';
.title {
  display: flex;
  height: 100/75rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 30/75rem;
  color: #888;
  font-size: 14px;
}

.con_step {
  :global {
    .am-list-item .am-list-line .am-list-content {
      width: 20px;
      flex-grow: 1 !important;
      padding: 0 !important;
    }
    .am-list-extra {
      width: 96px;
      flex-grow: 0 !important;
      text-align: right !important;
    }
    .am-list-item .am-list-line .am-list-extra {
      flex-basis: 36% !important;
    }
  }
}

.step {
  display: flex;
  align-items: center;
  padding-left: 30/75rem;
  background: #fff;
  border-bottom: 1px solid #eee;
  &:last-child {
    border-bottom: none;
  }
  .step_item {
    width: 36/75rem;
    height: 36/75rem;
    flex-grow: 0;
    flex-shrink: 0;
    background: url(../../assets/select_icon/unseled.png) no-repeat left center;
    background-size: 36/75rem 36/75rem;
    &.step_active {
      background: url(../../assets/select_icon/selected.png) no-repeat left center;
      background-size: 36/75rem 36/75rem;
    }
    &.step_require {
      background: url(../../assets/select_icon/required.png) no-repeat left center;
      background-size: 36/75rem 36/75rem;
    }
  }
  .list_item {
    flex-grow: 1;
  }
}

.list_title {
  display: flex;
  >div {
    line-height: 24px;
    height: 24px;
    font-size: @middle-size;
    flex-grow: 1;
    flex-shrink: 0;
    .textLineOverFlow()
  }
  div+div {
    color: @extra-color;
    text-align: right;
  }
}

.list_desc {
  color: @extra-color;
  font-size: @little-size;
  height: 22px;
  line-height: 22px;
}

.appro {
  display: flex;
  align-items: center;
  padding: 0 @aside-distance;
  background: #fff;
  border-bottom: 1px solid #eee;
  &:last-child {
    border-bottom: none;
  }
  .appro_item {
    width: 36/75rem;
    height: 36/75rem;
    flex-grow: 0;
    flex-shrink: 0;
    background: url(../../assets/select_icon/unseled.png) no-repeat left center;
    background-size: 36/75rem 36/75rem;
    &.appro_active {
      background: url(../../assets/select_icon/singled.png) no-repeat left center;
      background-size: 36/75rem 36/75rem;
    }
  }
  .list_item {
    flex-grow: 1; // border-bottom: 1px solid #eee;
  }
}

.appro_item {
  color: #666;
  display: flex;
  justify-content: space-between;
  padding: 22/75rem 22/75rem;
  background: #fff;
  .appro_des {
    display: flex;
    flex-direction: column;
    .appro_title {
      font-size: 18px;
      color: #333;
    }
    .info {
      display: flex;
      flex-direction: column;
      span {
        margin-top: 12/75rem;
        font-size: 14px;
        &:first-child {
          margin-top: 20/75rem;
        }
      }
    }
  }
}

.con_list {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
}

.filter_item {
  border-bottom: 1px solid #eee;
  padding: 0 20/75rem;
  .title {
    font-size: 12px;
    color: #333;
    height: 80/75rem;
    line-height: 80/75rem;
  }
}

.grid_opt {
  line-height: 22px;
  font-size: @little-size;
  color: @extra-color;
  display: flex;
  justify-content: space-between;
  padding: 14px @aside-distance 4px @aside-distance;
  a {
    text-align: right;
    color: rgb(24, 144, 255);
  }
}

.grid_list_item {
  padding: 10px @aside-distance;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background: #fff;
}

.main_info {
  line-height: 24px;
  font-size: @middle-size;
  color: @title-color;
  .textLineOverFlow();
}

.desc {
  line-height: 22px;
  margin-top: 5px;
  font-size: @little-size;
  color: @extra-color;
  .textLineOverFlow();

}